@import "../sass-constants.scss";

@media only screen and (min-width: 641px) {
  .details-header {
    display: none;
  }
  .restaurant-info-l {
    position: relative;
    top: 0;
    left: 0;
    width: 200%;
    height: 250px;
    color: $text-black;
  }

  .restaurant-info-r {
    position: relative;
    top: 0;
    left: -100%;
    width: 200%;
    height: 250px;
    color: $text-black;
  }

  .restaurant-info-container {
    background-color: white;
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .restaurant-info-item {
    width: 50%;
  }

  .restaurant-info-map {
    width: 50%;
  }

  .map {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 250px;
    width: 50%;
  }
}

@media only screen and (max-width: 640px) {
  .restaurant-info-l {
    width: 100%;
    background-color: white;
    color: $text-black;
  }

  .restaurant-info-r {
    width: 100%;
    background-color: white;
    color: $text-black;
  }

  .restaurant-info-container {
    position: relative;
    top: 0;
    left: 0;
    background-color: white;
    min-height: 100%;
    padding-bottom: 16px;
  }

  .restaurant-info-item {
    width: 100%;
  }

  .restaurant-info-map {
    height: 250px;
  }

  .map {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 250px;
    width: 100%;
  }
}

.details {
  text-align: left;
}

.details-contact {
  margin-top: 16px;
  margin-left: 16px;
}

.restaurant-phone {
  padding-top: 26px;
}

.restaurant-twitter {
  padding-top: 26px;
}

.restaurant-info-item {
  z-index: 1000;
}
