.restaurant-card {
  position: relative;
  // max-height: 180px;
  max-width: 320px;
}

.restaurant-top {
  position: relative;
  max-height: 180px;
  max-width: 320px;
  cursor: pointer;
}

.restaurant-image {
  max-width: 100%;
  max-height: 100%;
}

.restaurant-gradient {
  position: absolute;
  top: 0px;
  left: 0px;
  max-width: 100%;
  max-height: 100%;
}

.restaurant-name {
  font-size: 16px;
  font-weight: 600;
  color: white;
}

.restaurant-category {
  font-size: 12px;
  color: white;
  margin: 0 0 0 0;
}

.restaurant-details {
  position: absolute;
  left: 12px;
  bottom: 6px;
  text-align: left;
}
