@import "sass-constants.scss";

.App {
  text-align: center;
  background-color: $app-background;
  font-family: "Nunito Sans";
  color: white;
}

.header {
  background-color: $app-green;
  font-size: 32px;
  font-weight: 600;
  width: 100%;
  padding: 25px 0;
}

.restaurant-flex {
  min-height: 100vh;
  margin: auto;
  max-width: 640px;
}

@media only screen and (max-width: 640px) {
  .restaurant-flex {
    justify-content: center;
  }
}
